<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
<link rel="stylesheet" href="cat.css">
<link rel="stylesheet" href="swiper.min.css">
	</head>
	<body>
		<div id="box" v-cloak>
			<div style="width: 100%;position: absolute;z-index: 2;padding: 0 60px;box-sizing: border-box;">
				<div style="max-width: 100;min-height: 60px;float: left;"><img style="width: 100%;height: 100%;" src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvZjc0MTI0MDFiMDZjZjdjYmI4OTg5MTBjMTE2YzZlNzYucG5n.png" alt=""></div>
				<div style="min-height: 60px;text-align: right;display: flex;float: right;">
			 		<a :href="i.path" style="line-height: 60px;padding: 0 10px;display: inline-block;" v-for="i in arr">
			 			{{i.name}}
			 		</a>		 		
			 </div>
			</div>
			 
			 <div style="min-height: 500px;">
			 	 <router-view></router-view>
			 </div>
			 <div class="czh_footer">
				<div class="czh_oopn">
					<div class="czh_zuo">
						<div class="ylianxi">
							<span class="czh_s_d">联系</span>
							<span class="czh_s_c">Contact</span>
						</div>
						<div class="czhguanzhu">
							<span>关注我们</span>
						</div>
						<div class="czh_dihi">
							<div class="topaa">
								<span style="font-size:16px;color: rgb(93, 93, 93);">起飞页自助建站平台</span>
							</div>
							<div class="ppaaa" style="padding-bottom:6px;">
								<span style="font-size:14px;color: #969696;">
									地址：苏州市建外SOHO东区2号楼
								</span>
							</div>
							<div class="ppaaa" style="padding-bottom:6px;">
								<span style="font-size:14px;color: #969696;">
									邮编：100000
								</span>
							</div>
							<div class="ppaaa" style="padding-bottom:6px;">
								<span style="font-size:14px;color: #969696;">
									电话：010-69557550
								</span>
							</div>
						</div>
					</div>
					<div class="czh_you">
						<div class="rjrwema">
							<div class="czhlaaa">
								<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOC8wOC82MWM1NDU1YWZjYzI0ZWIyZmNjZWQ5OTdiYzAxYTYwYy0xMDB4MTAwLnBuZw_p_p100_p_3D_p_p100_p_3D.png" alt="">
							</div>
							<div class="czhdsaa">
								<span>微博</span>
							</div>
						</div>
						<div class="opldsapdsa">
							<div class="czhlaaa">
								<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOC8wOC82MWM1NDU1YWZjYzI0ZWIyZmNjZWQ5OTdiYzAxYTYwYy0xMDB4MTAwLnBuZw_p_p100_p_3D_p_p100_p_3D.png" alt="">
							</div>
							<div class="czhdsaa">
								<span>微信</span>
							</div>
						</div>
					</div>
				</div>
				<div class="czh_kakdoas">
					<div class="joasjdas">
						<span style="font-size:12px;">COPYRIGHT (©) 2019 茶叶类网站  京ICP备41414141414-1号</span>
					</div>
				</div>
			</div>
		</div>
		<template id="no1">
				<div>
						<div class="siao">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS82MWE3MmU5YWE1OGE3NWFmNjRkYWUyODNhMDMwNDU0MC5qcGc_p_p100_p_3D.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNTkxNjY4MzYwNTc4MTlhMDVjNGZmNmQ5NWFjMzU0OGIuanBn.jpg" alt="">
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
						<div class="czhneei">
							<div class="czh_ooa">
								<div class="czh_xicha">
									<div class="czh_paa">
										<span>
											新茶上市
										</span>
										<span style="font-size:12px;">
											Tea Leave
										</span>
									</div>
								</div>
								<div class="opn" v-for="i in arr">
									<div class="czh_tt">
										<img :src="i.img" alt="">
									</div>
									<div class="czh_tt1">
										<a href="">{{i.title}}</a>
									</div>
									<div class="czh_bor">
										<div></div>
									</div>
									<div class="czh_qiandasd">
										<span>￥{{i.mony}}</span>
									</div>
								</div>
								<div class="czh_hha">
									<a href="#/cat">→</a>
								</div>
							</div>
						</div>
						<div class="czh_dasa">
							<div class="knaadffsdaa">
								<div class="heueqq">
									<span class="xiaoa">关于我们</span>
									<span class="xiaob">About</span>
								</div>
								<div class="lmnbza">
									<div class="oopll">
										<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS84YmIyNmU0NTBmNjQ2MGQ1Y2IyYTg1ODhiMGFhNjlmYy01NDB4MjgwLmpwZw_p_p100_p_3D_p_p100_p_3D.jpg" alt="">
									</div>
									<div class="ooplr">
										<div class="jldasdas">
											<div class="kkjkaa">
												茶叶源于中国，茶叶最早是被作为祭品使用的。但从春秋后期就被人们作为菜食，在西汉中期发展为药用，西汉后期才发展为宫廷高级饮料，普及民间作为普通饮料那是西晋以后的事。发现最早人工种植茶叶的遗迹在浙江余姚的田螺山遗址，已有6000多年的历史。饮茶始于中国。
											</div>
											<div class="dndsahdsa">
												<a href="#/b">了解我们</a>
											</div>
										</div>  
									</div>
								</div>
							</div>
						</div>
						<div class="logss">
							<div class="czh_box">
								<div class="czh_flow">
									<div class="czh_lp">
										<div class="czhsp">
										   <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC8yMzBlN2NhOWY2YjA2NGFiMzY3MjNkZmJhNWIzNTYyNC0xNTB4NjAucG5n.png" alt=""> 
										</div>
									</div>
									<div class="czh_lp">
										<div class="czhsp">
										   <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9jNTQ4ZTEyZDAzYWExMTgyYTVmYzlhZjhiMGVkM2E4My0xNTB4NjAucG5n.png" alt=""> 
										</div>
									</div>
									<div class="czh_lp">
										<div class="czhsp">
										   <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9mYTdiMzVjMDczODkyODg4NWM5Njc0NGNhM2RmMDM0NC0xNTB4NjAucG5n.png" alt=""> 
										</div>
									</div>
									<div class="czh_lp">
										<div class="czhsp">
										   <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC8xN2VhY2JhNzRmZTgwNmQxOTU0YjkxZjQxN2EzNTNkOC0xNTB4NjAucG5n.png" alt=""> 
										</div>
									</div>
									<div class="czh_lp">
										<div class="czhsp">
										   <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC8wMWMwMThiMDBjMDQxYzBiZDcxMjNhOTNmNWExOTI5OC0xNTB4NjAucG5n.png" alt=""> 
										</div>
									</div>
									<div class="czh_lp">
										<div class="czhsp">
										   <img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMWQyNGZhYmI0ZWRiODk1MGUxMmI3MzkxOGU3OTY1ZDktMTUweDYwLnBuZw_p_p100_p_3D_p_p100_p_3D.png" alt=""> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		</template>
		
		<template id="no2">
				<div>
						<div class="lkdasl"></div>
						<div class="czh_nskadas">
							<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS80OWFlMzhhODY3ZWY3NWE0MDczZGY3NGJhMWY5OGMyNi5qcGc_p_p100_p_3D.jpg" alt="">
						</div>
						<div class="ak1aa">
							<div class="josadjas">
								<div class="kjpoaksao">
									<div class="jkasa">
										<div class="naaa">
											<span>春茶</span>
										</div>
									</div>
									<div class="koasdas">
										<div class="pltt">
											饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。
										</div>
										<div class="pltt">
											因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。
										</div>
									</div>
								</div>
							</div>
						   
						</div>
						<div class="paodong">
						</div>
						<div class="hetea">
							<div class="jodsajdas">
								<div class="hjadsa">
									<div class="toutsad">
										喝茶的好处
									</div>
									<div class="jodasd">
										饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。 但并不是喝得越多越好，也不是所有的人都适合喝茶。一般来说，每天1-2次，每次3-5克、400毫升的饮量是比较适当的。一般，人们说喝茶还指喝水。
									</div>
								</div>
							</div>
						</div>
						<!-- 下面是效果不会加 -->
						<div class="yjr_weibu">
							<div class="yjr_dasdas">
								<div class="yjr_ladjaos">
									<div class="yjr_nxv1">
										<div class="yjr_plousaa">
											<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC82NzM1MTJkYjY0YzY3ZTQzN2MyMzE0YzJjNzcyNGYzZi5qcGc_p_p100_p_3D.jpg" alt="">
										</div>
										<div class="yjr_kjhaga">
											茶园计划
										</div>
										<div class="yjr_jsaawr">
											明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。
										</div>
									</div>
								</div>
				
								<div class="yjr_ladjaos">
									<div class="yjr_nxv1">
										<div class="yjr_plousaa">
											<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC80ZGYwMWE3NGZhMGFlYWI4MjJiYzUxOGFjYzZlYWE5Ni5qcGc_p_p100_p_3D.jpg" alt="">
										</div>
										<div class="yjr_kjhaga">
										   茶叶品质鉴别
										</div>
										<div class="yjr_jsaawr">
											明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。
										</div>
									</div>
								</div>
				
								<div class="yjr_ladjaos">
									<div class="yjr_nxv1">
										<div class="yjr_plousaa">
											<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC80NWEyYmVlMTVmMTkxNzQ5NDY5MjExMGIyM2RhZGJkNS5qcGc_p_p100_p_3D.jpg" alt="">
										</div>
										<div class="yjr_kjhaga">
											冲泡工艺
										</div>
										<div class="yjr_jsaawr">
											明万历二十三年（1595）张源撰写的《茶录》中，对当时洞庭东西山绿茶（炒青）的采摘、炒制有较为详细的记载，其炒制过程分杀青、轻团、焙干等工序，已与当今洞庭碧螺春的炒制工艺基本一致。
										</div>
									</div>
								</div>
							</div>
						</div>
									
				</div>
		</template>
		<template id="no3">
			<div style="padding-top: 80px;">
				<div class="list">
					<div style="font-size: 24px;line-height: 86px;padding-left: 40px;float: left;">茶叶</div>
					<ul>
						<li v-for="i in arr_title" :style="{width:'60px',color:i==type?'green':''}" @click="type=i">{{i}}</li>
					</ul>
				</div>
				<div style="padding: 0 40px;box-sizing: border-box;">
					<div class="cent">
						<div v-if="type=='全部'">
							<div class="cont" v-for="(i,$index) in arr">
								<a href="#/cat_info" @click="a_str1(arr[$index])">
									<div class="item">
										<img :src="i.image" alt="">
										<h6>{{i.title}}</h6>
										<div class="czh_bor">
											<div></div>
										</div>
										<p>￥{{i.pice}}</p>
										<button>→</button>
									</div>
								</a>
							</div>
						</div>
						<div v-else="">
							<div class="cont" v-for="(i,$index) in arr" v-if="i.type == type">
								<a href="#/cat_info" @click="a_str1(arr[$index])">
										<div class="item">
										<img :src="i.image" alt="">
										<h6>{{i.title}}</h6>
										<div class="czh_bor">
											<div></div>
										</div>
										<p>￥{{i.pice}}</p>
										<button>→</button>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</template>
		<template id="no4">
			<div style="padding-top: 80px;background: #fff;">
				<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzNlYjg4NTNhNmZkNTZiYWRhN2Q4ZjI4NjNkOWM1ODguanBn.jpg" width="100%" height="205px" alt="">
				<div style='max-width:1280px;margin: 0 auto;padding:0 40px;box-sizing: border-box;padding-bottom: 50px;'>
					<h2 class='titlea'>种植基地</h2>
					<div class='b_txt'>
						<p>公司拥有完整、科学、质量管理体系，通过ISO14001，ISO22000国际质量体系认 证，有机产品认证，拥有大量先进、专业的生产设备和检测仪器，秉承“顾客至</p>
						<p>上，锐意进取”的经营理念，坚持“客户第一”的原则为广大客户提供优质的服务。</p>
					</div>
						<ul class='i_img'>
							<li v-for="(i,$index) in img_arr" class="vl_pic_item" @click="pics_btn(i,$index)"><img :src="i" alt=""></li>
						</ul> 
				</div>
				<div class="pics_mubu">
					<button @click="closebtn">×</button>
					<button class="play_pause" @click="pausebtn"><i class="el-icon-video-pause iconfont" style="font-size:22px;">&#xe659;</i></button>
					<div class="photoes" v-for="(i,$index) in img_arr" :style="$index==index?{'opacity':'1'}:{'opacity':'0'}">
						<img :src="i" alt="">
					</div>
					<button class="prev" @click="prevpic"><i class="el-icon-arrow-left iconfont" style="font-size:22px;vertical-align: middle;">&#xe601;</i></button>
					<button class="next" @click="nextpic"><i class="el-icon-arrow-right iconfont" style="font-size:22px;vertical-align: middle;">&#xe603;</i></button>
					<div class="list_photoes">
						<div style="overflow: hidden;display: table;margin:auto;">
							<img v-for="(i,$index) in img_arr" :src="i" alt="" @click="index=$index">
						</div>
					</div>
				</div>
			</div>
		</template>
		<template id="no5">
			<div>
				 <div style="min-height: 260px;max-width: 1920;">
					<img style="width: 100%;height: 100%;" src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOTIwYWRjMGM1M2U4OGQ2MTY0OWE0MzYwMmY5MWQ0NzQuanBn.jpg" alt="">
				 </div>
				 <div style="overflow: hidden;padding: 10px 10%;">
				 	<div style="width: 200px;min-height: 500px;background: brown;float: left;">
				 		<div style="text-align: center;line-height: 40px;border-bottom: 1px solid greenyellow;">
				 			<a href="#/no5">
				 				全部新闻
				 			</a>
				 		</div>
				 		<div style="text-align: center;line-height: 40px;border-bottom: 1px solid greenyellow;">
				 			<a href="#/no5/no2">
				 				新茶动态
				 			</a>
				 		</div>
				 		<div style="text-align: center;line-height: 40px;border-bottom: 1px solid greenyellow;">
				 			<a href="#/no5/no3">
				 				产品新闻
				 			</a>
				 		</div>
				 	</div>
				 	<div style="float: left;padding: 10px 20px;">
				 		<router-view></router-view>
				 	</div>
				 </div>
			</div>
		</template>
		<template id="no6">
			<div>
				<div class="lkdasl"></div>
				<div class="banner" style="width: 100%;height: 100%;">
					<img
						src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNS81NjM0YjlkMWViYWQ3MGRjYWVmYzU0MzQxYTRjM2RhYS5qcGc_p_p100_p_3D.jpg"
						style="width: 100%; height: 100%;"
						alt 
						/>
				   
				</div>
				<div class="dasddas">
					<div class="czhubaa">
						<span>中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯是从中国传过去的。</span>
					</div>
				</div>
				<div class="okpiua">
					<div class="jodajs">
						<div class="rjidsa">
							<div class="rjrimsag">
								<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9mYzdmNmQ5NzgzM2NiOTlkOWJjZjU1ZDMyY2M2MWI0Ni04MHg4MC5qcGc_p_p100_p_3D.jpg" alt="">
							</div>
							<div class="jodas">
								<div class="nbnzzd">
								  邮箱  
								</div>
							</div>
							<div class="ojdasod">
								<span>info@email.com</span>
							</div>
						</div>
						<div class="rjidsa">
							<div class="rjrimsag">
								<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9kNjhkMWVhYWNmODIyZDE4ZDE5MjYzYzdlMTljZjc1YS04MHg4MC5qcGc_p_p100_p_3D.jpg" alt="">
							</div>
							<div class="jodas">
								<div class="nbnzzd">
								  手机
								</div>
							</div>
							<div class="ojdasod" style="font-size:14px;color:#bfbfbf;">
								13725415481
								<span>/ 010 6888 6888</span>
							</div>
						</div>
						<div class="rjidsa">
							<div class="rjrimsag">
								<img src="https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC82ZmQ5NDYwYjYzMzVmNTM2ZjUzNjQ1MWJiYmEyMDlkZC04MHg4MC5qcGc_p_p100_p_3D.jpg" alt="">
							</div>
							<div class="jodas">
								<div class="nbnzzd">
								  地址  
								</div>
							</div>
							<div class="ojdasod">
								<span>苏州市建外SOHO东区2号楼</span>
							</div>
						</div>
					</div>
				</div>
				<div class="lplpad">
					<div class="jodajda">
						<div class="czhmap" id="container">
		
						</div>
					</div>
				</div>
			</div>
		</template>
	</body>
	<script src="vue.js"></script>
	<script src="vue-router.js"></script>
	<script src="swiper.min.js"></script>
	<script>
		var router = new VueRouter({
			routes:[
			 {path:'/',component:{template:'#no1',data(){
				 return{arr:[
               {
                   title:'茉莉花茶',
                   img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                   mony:'223.0',
                   s:1
               },
               {
                   title:'白牡丹',
                   img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                   mony:'1235.0',
                   s:1
               },
               {
                   title:'白毫银针',
                   img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                   mony:'258.0',
                   s:1
               },
               {
                   title:'云南普洱茶',
                   img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                   mony:'500.0',
                   s:1
               },
               {
                   title:'湖北老青茶',
                   img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                   mony:'400.0',
                   s:1
               },
               {
                   title:'霍山黄芽蒙洱银针',
                   img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
                   mony:'711.0',
                   s:1
               },
            ]}
			 }}},
			 {path:'/no2',component:{template:'#no2',}},
			 {path:'/no3',component:{template:'#no3',data(){
			return{
				type:'全部',
				arr_title:['全部','花茶','白茶','黑茶','黄茶','乌龙茶'],
				arr:[
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvODMxNGZmNmYyYjkyNzcxZmY2N2U5NjdlZjQyNjAzZWItNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'茉莉花茶',
						pice:'223',
						type:'花茶',
						uid:1,
						n:0
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMGFkMzdiZDQwOGNjYWMwYzI0Y2JmNzdiMDZiNDg4ODAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'白牡丹',
						pice:'1235',
						type:'白茶',
						uid:2,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvOTc4NTUwMDZjYzA1MDQ1OGVkMDFmZjE2N2I4YjNkOTctNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'白毫银针',
						pice:'258',
						type:'白茶',
						uid:3,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMDMzMjg2Zjc0ZWU4M2ZiM2U5MTllZTgwMDc4MjRjNTAtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'云南普洱茶',
						pice:'500',
						type:'黑茶',
						uid:4,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjY1ZjU4NWU5ZmNmYjkxMDBlMzc1YmFkMDQyNTkwMzEtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'湖北老青茶',
						pice:'400',
						type:'黑茶',
						uid:5,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvMjhlYTFmMDQ0Y2NhOWI4NWEzYWZkMzExYzczZTY3MjQtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'霍山黄芽蒙洱银针',
						pice:'711',
						type:'黄茶',
						uid:6,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWM4NmNiNjkzOTdjOTM4NWQ4MzI0MDdlZDhhY2EwMmUtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'蒙顶黄芽',
						pice:'450',
						type:'黄茶',
						uid:7,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNWNjYjNmZjU3YWU2YjBmMmRiYWZmOTk2MzljY2E4N2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'冻顶乌龙茶',
						pice:'620',
						type:'乌龙茶',
						uid:8,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNDM1OTBkNjFjM2ViOGU2YzUyYWU3ZmM2N2I3YjQwZGMtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'大红袍',
						pice:'3480',
						type:'乌龙茶',
						uid:9,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
					{
						image:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvYzNjYmVkZWE4N2JmNzZjOTUyODdjZWUyYWQ4MjgyM2MtNDAweDQwMC5qcGc_p_p100_p_3D.jpg',
						title:'祁门红茶',
						pice:'568',
						type:'花茶',
						uid:10,
						n:0,
						cat_info:'饮茶不但是传统饮食文化，同时，由于茶中含有多种抗氧化物质与抗氧化营养素，对于消除自由基有一定的效果。因此喝茶也有助防老，具养生保健功能，每天喝三两杯茶可起到防老的作用。茶叶中含有多种维生素和氨基酸，喝茶对于清油解腻，增强神经兴奋以及消食利尿也具有一定的作用。',
						cat_b:' HUACHA001 ',
						cat_img:'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cDovLzVjZGQzYWE1YzQ2ZWEudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxOS8wNC9iYmM0ZTQxZDFlYjVmNTk2NmE0MzIyYTZhMjhjNDVmZC5qcGc_p_p100_p_3D.jpg'
					
					},
				]
			}
		}}},
			 {path:'/no4',component:{template:'#no4',	data() {
			return {
				timer:null,
				tiptype:false,
				photoes:'',
				index:0,
				vllogo: 'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzNlYjg4NTNhNmZkNTZiYWRhN2Q4ZjI4NjNkOWM1ODguanBn.jpg',
				img_arr: [
          'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNWQ3ZTc0ZDI3NTEzM2MxZmZkYTVkZTFmY2FiNGFkZTctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
          
          'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvNzQwMmZhZTFiYWE3OTgxODA4MWYwM2I2N2UwZTU0ZDItMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
          
          'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOWVlYzA0NGVmYmNiZGQwYzE0M2QwYmZhMGY2MjNkMDUtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
          
          'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMGQ5YWMxYWEzOWNmZmIzYzk4NDE0Njk4YzZmZGQwZjQtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
          
          'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvOWVkYTg5ZjIzMWEzOGFjODE5NmJiYmYyOTA5YWEyZjctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
          
          'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMTI1ZmM2NTk4YWE0NmFlY2JkOWY1NDAzYzkwYjM3ODctMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
          
          'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDQvNGRmMDFhNzRmYTBhZWFiODIyYmM1MThhY2M2ZWFhOTYtMzAweDMwMC5qcGc_p_p100_p_3D.jpg',
          
					'https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvMmZlZDQ0NjA2NDI0N2FmZWI4YTk0ZmQ0NGRiMDc5NzktMzAweDMwMC5qcGc_p_p100_p_3D.jpg'
				],
			}
		}}},
			 {path:'/no5',component:{template:'#no5'},children:[
			      {path:'/',component:{template:'<p>全部新闻</p>'}},
			      {path:'no2',component:{template:'<p>新茶动态</p>'}},
			      {path:'no3',component:{template:'<p>产品新闻</p>'}}, 
			 ]},
			 {path:'/no6',component:{template:'#no6'}, mounted() {
       var map = new AMap.Map('container');  
    },},
			]
		})
		new Vue({
			el:"#box",
			data:{
			  arr:[
			   {name:'首页',path:'#/'},
			   {name:'关于',path:'#/no2'},
			   {name:'茶叶',path:'#/no3'},
			   {name:'基地',path:'#/no4'},
			   {name:'新闻',path:'#/no5'},
			   {name:'联系',path:'#/no6'},
			  ]
			},
			router
		})
	</script>
	<script>
			var mySwiper = new Swiper('.swiper-container', {
				loop: true, // 循环模式选项
				// 如果需要分页器
				pagination: {
					el: '.swiper-pagination',
				},
		
				// 如果需要前进后退按钮
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			})        
		</script>
</html>
